{% extends "common/layout.jinja2" %}
{% set website_root = website_root %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <form action="create.cgi" method="post">
        <p>ID: <input type="text" name="id"/></p>
        <p>Primary Voltage: <input type="text" name="pv"/></p>
        <p>Secondary Voltage: <input type="text" name="sv"/></p>
        <p>Latitude: <input type="text" name="gpslat"/></p>
        <p>Longitude: <input type="text" name="gpslong"/></p>
        <p>Primary Busbar ID: <input type="text" name="pbbid"/></p>
        <p>Secondary Busbar ID: <input type="text" name="sbbid"/></p>
        <input type="submit" value="Submit"/>
    </form>

    <a href="index.cgi">Go back</a>
{% endblock %}